:root {
  --inputColor: #00b896;
  --outlineColor: dodgerblue;
  --beamColor: yellow;
  --spacer: 1rem;
}

.input-wrapper {
  position: relative;
}

[id=eyeball] {
  --size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  border: none;
  background-color: transparent;
  transform: translateY(-50%);
}
[id=eyeball]:active {
  transform: translateY(calc(-50% + 1px));
}

.eye {
  width: var(--size);
  height: var(--size);
  border: 2px solid var(--inputColor);
  border-radius: calc(var(--size) / 1.5) 0;
  transform: rotate(45deg);
}
.eye:before, .eye:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 100%;
}
.eye:before {
  width: 35%;
  height: 35%;
  background-color: var(--inputColor);
}
.eye:after {
  width: 65%;
  height: 65%;
  border: 2px solid var(--inputColor);
  border-radius: 100%;
}

[id=beam] {
  position: absolute;
  top: 50%;
  right: 1.75rem;
  -webkit-clip-path: polygon(100% 50%, 100% 50%, 0 0, 0 100%);
          clip-path: polygon(100% 50%, 100% 50%, 0 0, 0 100%);
  width: 150vw;
  height: 20vw;
  z-index: 1;
  mix-blend-mode: multiply;
  transition: transform 200ms ease-out;
  transform-origin: 100% 50%;
  transform: translateY(-50%) rotate(var(--beamDegrees, 0));
  pointer-events: none;
}
.show-password [id=beam] {
  background: var(--beamColor);
}